html {
    scroll-behavior: smooth;
    height: 100%;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Merriweather;
    src: url("./assets/fonts/Merriweather-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Merriweather;
    src: url("./assets/fonts/Merriweather-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

body {
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: Merriweather, serif;
    font-weight: 400;
    font-size: 30px;
    color: #043a53;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: none;
    }
}

.header {
    height: 60px;
}

.header-text {
    font-family: 700;
    padding: 20px;
}

.main {
    height: calc(100% - 60px - 60px);
}

/* Footer */

.footer {
    display: flex;
    justify-content: flex-end;
    height: 60px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: calc(100% - 40px);
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

.footer-container a {
    text-decoration: none;
    transition: 0.5s;
    font-size: 20px;
    color: #043a53;
}

.footer-container a:hover {
    color: #97c3f5;
}

.footer-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 18px;
    list-style: none;
    padding-right: 25px;
}

.social-item {
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s;
    width: 60px;
    height: 60px;
}

.social-item-rsschool {
    background-image: url('./assets/svg/rsschool-js.svg');
    height: 50px;
}

.social-item-linked {
    background-image: url('./assets/svg/linked.svg');
    width: 30px;
    height: 30px;
}

.social-item:hover {
    filter: invert(15%) sepia(5%) saturate(28%) hue-rotate(78deg) brightness(92%) contrast(57%);
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 28px 10px 40px 10px;
    }

    .footer-social {
        padding-top: 11px;
    }
}