:root {
    --color-gold: #bdae82;
    --color-black: #000000;
    --color-white: #ffffff;
}

@media (max-width: 768px) {
    :root {
      --font1: 32px;
      --font2: 32px;
    }
  }

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif; /*font-weight: 400, bold font-weight: 700*/
    color: var(--color-white);
    font-size: var(--font5);
    line-height: 40px;
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url("./assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url("./assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Merriweather';
    src: url("./assets/fonts/Merriweather-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Merriweather';
    src: url("./assets/fonts/Merriweather-Bold.ttf");
    font-weight: 700;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-white);
    background-color: var(--color-black);
    margin: 0 auto;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: none;
    }
}


button {
    width: 220px;
    height: 55px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

button a {
    text-decoration: none;
    color: #000;
}

button a:hover{
    color: #fff;
}

.order-btn {
    background-color: #bdae82;
    color: #000;
}

.order-btn:hover {
    color: #fff;
}

/* Header */
  
.header-container {
    display: flex;
    background: url("./assets/img/hero-photo.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    height: 90px;
    padding: 20px;
    gap: 30px;
}

.logo {
    background-image: url("./assets/svg/logo.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
    width: 50px;
    height: 50px;
}
.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
}
  
.nav {
    margin-left: auto;
}
  
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    gap: 31px;
}
  
.nav-link {
    text-decoration: none;
    line-height: 50px;
    transition: 0.3s;
}
  
.nav-link:hover {
    color: var(--color-gold);
}
  
.lng {
    display: flex;
    align-items: center;
    width: 70px;
}
  
.lng-el {
    line-height: 50px;
    font-weight: 700;
}

.lng-btn {
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}
  
.lng-btn:hover {
    color: var(--color-gold);
}
  
.lng-active {
    color: var(--color-gold);
}
  
.lng-slash {
    padding: 0 8px 0 9px;
}
  
.theme {
    display: flex;
    align-items: center;
}
  
.theme-btn {
    border: 0;
    background: transparent;
    background-image: url("./assets/svg/moon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.3s;
    width: 45px;
    height: 45px;
}
  
.theme-btn:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
}
  
.light-theme-btn {
    background-image: url("./assets/svg/sun.svg");
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 28px;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    margin: 11px 0;
}
  
.line {
    width: 100%;
    height: 3px;
    background: var(--color-white);
    z-index: 15;
    transition: all 0.3s ease-in-out;
}
  
.hamburger.open {
    position: fixed;
    top: 20px;
    right: 64px;
}
  
.hamburger.open .line1 {
    transform: rotate(45deg) translate(6px, 14px);
    height: 2px;
    width: 62px;
}
  
.hamburger.open .line2 {
    opacity: 0;
}
  
.hamburger.open .line3 {
    transform: rotate(-45deg) translate(5px, -13px);
    height: 2px;
    width: 62px;
}
  
.hamburger {
    display: none;
}
  
@media (max-width: 768px) {
    .nav-list {
      position: fixed;
      display: none;
      right: -620px;
      width: 620px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      top: 0;
      bottom: 0;
      transition: 0.5s;
      background-color: var(--color-black);
      padding: 134px 127px;
      gap: 16px;
    }
  
    .nav-list.open {
      z-index: 1;
      right: 0;
    }
  
    .nav-link {
      font-size: 35px;
      line-height: 73px;
    }
  
    .hamburger {
      display: flex;
    }
  
    .light-theme-sidebar {
      background-color: var(--color-white);
      color: var(--color-black);
    }
  
    .open > .line.light-theme-sidebar {
      background: var(--color-black);
    }
}
  
.hamburger:hover .line {
    background-color: var(--color-gold);
}


@media (max-width: 620px) {
    .nav-list.open {
      width: 100%;
    }
}

/* Main */

/* Hero */

.hero {
    background-image: url('./assets/img/hero-photo.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 820px;
    display: flex;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 580px;
    padding-left: 40px;
}

.hero-title {
    font-family: "Merriweather";
    font-size: 60px;
    font-weight: 700;
}

.hero-text {
    width: 470px;
    line-height: 2;
}

.hero-btn{
    margin-top: 25.5px;
}

@media (max-width: 768px) {
    .hero {
        height: 500px;
        background-image: url('./assets/img/hero-tablet-vers.jpg');
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-left: 60px;
        padding-top: 54px;
    }

    .hero-title {
        font-family: "Merriweather";
        font-size: 32px;
        font-weight: 400;
        line-height: 2;
    }
    
    .hero-text {
        width: 390px;
        line-height: 1.2;
        font-family: "Inter";
        padding-bottom: 33px;
    }
}

/* Section */

@media (max-width: 1440px) {
    section {
        width: 100%;
    }
}

.section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 61px;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Merriweather";
    font-size: 32px;
    font-weight: 700;
    color: var(--color-gold);
    text-align: center;
    width: 50%;
    gap: 20px;
}

.section-title::before {
    width: 274px;
    height: 2px;
    background-color: var(--color-gold);
    content: '';
}

.section-title::after {
    width: 274px;
    height: 2px;
    background-color: var(--color-gold);
    content: '';
}

@media screen and (max-width: 768px) {
    .section__title {
      font-size: 32px;
      line-height: 40px;
    }

    .section-title::before {
        width: 50%;
    }
    
    .section-title::after {
        width: 50%;
        height: 2px;
        background-color: var(--color-gold);
        content: '';
    }
}

/* Skills */

.skills-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 18px;
    padding-top: 37px;
    width: 100%;
}

@media (max-width: 768px) {
    .skills-items {
        flex-wrap: wrap;
        gap: 7px;
        padding-top: 34px;
    }
}

.skill-item-title {
    font-weight: 700;
    padding-top:79px;
}

.skill-item {
    background-position: center top;
    background-size: 62px 50px;
    background-repeat: no-repeat;
    width: 320px;
    padding-left: 15px;
    padding-right: 20px;
    line-height: 2;
}

@media (max-width: 768px) {
    .skill-item {
        padding: 14px 0;
        line-height: 1.5;
        width: 300px;
    }
}

.skill-item-photo:nth-child(1) {
    background-image: url('./assets/svg/camera.svg');
}

.skill-item-video:nth-child(2) {
    background-image: url('./assets/svg/video.svg');
}

.skill-item-retouch:nth-child(3) {
    background-image: url('./assets/svg/image.svg');
}

.skill-item-audio:nth-child(4) {
    background-image: url('./assets/svg/mic.svg');
}

/* Portfolio */

.section-portfolio {
    padding-top: 67px;
}

.portfolio-btns {
    display: flex;
    padding: 38px;
    gap: 5px;
}

@media (max-width: 768px) {
    .section-portfolio {
        padding-top: 82px;
        padding-bottom: 10px;
    }

    .portfolio-btns {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.period-btn {
    border: solid 2px #bdae82;
    color: var(--color-gold);
    background-color: var(--color-black);
}

.period-btn:hover {
    color: var(--color-white);
}

.portfolio-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0 auto;
    padding-top: 21px;
}

/* Video */

.video-container {
    padding: 60px 20px 0 20px;
    height: 765px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/img/wedding-day.jpg");
    background-size: 1400px 705px;
    background-position: center bottom;
    background-repeat: no-repeat;
}
  
.video-btn {
    border: 0;
    position: absolute;
    background-image: url("./assets/svg/play-hover.svg");
    background-repeat: no-repeat;
    width: 129.86px;
    height: 130px;
    background-color: transparent;
    transition: 0.3s;
}
  
@media (max-width: 768px) {
    .video-container {
        height: 484px;
        background-image: url("./assets/img/video-player-tablet.jpg");
        background-size: 768px 418px;
    }
  
    .video-btn {
        background-image: url("./assets/svg/play-hover-tablet.svg");
        width: 65px;
        height: 65px;
    }
}

.video-btn:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
}

/* Price */

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    font-size: 18px;
    text-align: center;
    padding: 38px 0px;
    width: 100%;
}

.price-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: 3px solid #bdae82;
    width: 450px;
    padding-bottom: 16px;
}

.price-item-title {
    font-family: "Merriweather";
    font-size: 28px;
    font-weight: 700;
    padding-top: 19px;
}

.price-item-money {
    font-family: "Merriweather";
    font-size: 24px;
    font-weight: 700;
    color: #bdae82;
}

.price-item-desc {
    line-height: 1;
    padding-top: 10px;
}

.price-btn {
    margin: 24px 0;
}

@media (max-width: 768px) {
    .price {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        width: 420px;
        padding: 19px 0px;
    }

    .price-item {
        padding-bottom: 14px;
    }

    .price-item-title {
        line-height: 2;
    }
}

/* Contacts */

.section-contact {
    background-image: url(./assets/img/contact-me.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    width: 100%;
    margin-top: 60px;
    padding-top: 30px;
}

.section-title-contact {
    font-family: "Merriweather";
    font-size: 40px;
    font-weight: 700;
    color: #bdae82;
    line-height: 2;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: auto;
    width: 450px;
    padding-bottom: 190px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    line-height: 2;
    padding-top: 10px;
}

input {
    background:  rgba(0, 0, 0, 0.5);
    width: 450px;
    height: 50px;
    border: 2px solid #bdae82;
    outline: none;
    transition: 0.3s;
}

input:hover {
    border: 2px solid #fff;
    color: #fff;
}

textarea {
    background: rgba(0, 0, 0, 0.5);
    width: 450px;
    height: 100px;
    border: 2px solid #bdae82;
    outline: none;
    line-height: 2;
    color: #fff;
}

textarea:hover {
    border: 2px solid #fff;
}

::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
    padding-left: 20px;
}

.contact-btn {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .section-contact {
        background-size: center 0;
        margin-top: 60px;
        padding-top: 30px;
    }

    .contact-container {
        margin: 0;
        width: 450px;
        padding-bottom: 109px;
        align-items: center;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        box-sizing: border-box;
        line-height: 2;
        padding-top: 18px;
    }

    .section-title-contact {
        font-family: "Merriweather";
        font-size: 32px;
        line-height: 2;
    }
}

/* Footer */

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 43px 0px 0px 23px;
}

.footer-container a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.footer-container a:hover {
    color: #bdae82;
}

.footer-desc {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    list-style: none;
    padding-right: 25px;
}

.social-item {
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
    width: 32px;
    height: 32px;
}

.social-item-insta {
    background-image: url('./assets/svg/instagram.svg');
}

.social-item-fb {
    background-image: url('./assets/svg/fb.svg');
}

.social-item-tw {
    background-image: url('./assets/svg/tw.svg');
}

.social-item-pin {
    background-image: url('./assets/svg/pinterest.svg');
}

.social-item:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 28px 10px 40px 10px;
    }

    .footer-social {
        padding-top: 11px;
    }
}

/* active buttons*/
.active {
    color: var(--color-black);
    background-color: var(--color-gold);
}

.active:hover, .active:focus{
    box-shadow: inset -7em 0 0 0 #ffdc7f, inset 7em 0 0 0 #ffdc7f;
}

/* Animation buttons*/
.btn-diagonal {
    background-color: var(--color-black);
    color: var(--color-gold);
}
.btn-diagonal:before,
.btn-diagonal:after {
    content: '';
}
  
.btn-diagonal:before {
      right: -50px;
      border-right: 50px solid transparent;
      border-bottom: solid;
      transform: translateX(-100%);
}
    
.btn-diagonal:after {
      left: -50px;
      border-left: 50px solid transparent;
      border-top: solid;
      transform: translateX(100%);
}
  
.btn-diagonal:hover {
      color: tint(var(--color-black));
}

.btn-diagonal:hover:before {
    transform: translateX(-49%); 
}

.btn-diagonal:hover:after {
    transform: translateX(49%); 
}

/* ordering */
.raise:hover, 
.raise:focus{
	box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
	transform: translatey(-0.65em);
    color: var(--color-black);
}

/* light theme main part */

.light-theme {
    background-color: #fff;
    color: #000;
}
  
.light-theme:hover {
    color: #000;
}

.period-btn.light-theme:hover {
    border: 0;
    background-color: var(--color-gold);
    color: var(--color-white);
}
  
.active {
    border: 0;
    background-color: var(--color-gold);
    color: var(--color-black);
}
  
.light-theme.active {
    color: var(--color-white);
}
